.cart--link--container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar--client-list{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}